In [1]:
import numpy as np
import pandas as pd
Xd=pd.DataFrame({'age':[21,21,19, 30,21,21,19,30,None],
'gender':['M','M','N','M','F','F','F','F',None],
'civil_status':['MARRIED','SINGLE','SINGLE','SINGLE','MARRIED','SINGLE','WIDOW','DIVORCED',None],
'salary':[3000.0,1200.0 ,32000.0,1800.0 ,2900.0 ,1100.0 ,10000.0,1500.0,None],
'has_children':[1,0,1,1,1,0,0,1,None],
'available_credit':[2200,100,22000,1100,2000,100,6000,2200,None]})
Yd = Xd.iloc[1:3,:]
X = np.asarray(Xd)
Y = np.asarray(Yd)
from scipy.sparse import issparse

In [2]:
X, Y

(array([[21.0, 'M', 'MARRIED', 3000.0, 1.0, 2200.0],
        [21.0, 'M', 'SINGLE', 1200.0, 0.0, 100.0],
        [19.0, 'N', 'SINGLE', 32000.0, 1.0, 22000.0],
        [30.0, 'M', 'SINGLE', 1800.0, 1.0, 1100.0],
        [21.0, 'F', 'MARRIED', 2900.0, 1.0, 2000.0],
        [21.0, 'F', 'SINGLE', 1100.0, 0.0, 100.0],
        [19.0, 'F', 'WIDOW', 10000.0, 0.0, 6000.0],
        [30.0, 'F', 'DIVORCED', 1500.0, 1.0, 2200.0],
        [nan, None, None, nan, nan, nan]], dtype=object),
 array([[21.0, 'M', 'SINGLE', 1200.0, 0.0, 100.0],
        [19.0, 'N', 'SINGLE', 32000.0, 1.0, 22000.0]], dtype=object))

In [3]:
all = np.concatenate((X,X))

In [142]:
from scipy.sparse import issparse
import numpy as np
import pandas as pd

def gower_matrix(data_x, data_y=None, weight=None, cat_features=None):  
    
    # function checks
    X = data_x
    if data_y is None: Y = data_x 
    else: Y = data_y 
    if not isinstance(X, np.ndarray): 
        if not np.array_equal(X.columns, Y.columns): raise TypeError("X and Y must have same columns!")   
    else: 
         if not X.shape[1] == Y.shape[1]: raise TypeError("X and Y must have same y-dim!")  
                
    if issparse(X) or issparse(Y): raise TypeError("Sparse matrices are not supported!")        
            
    x_n_rows, x_n_cols = X.shape
    y_n_rows, y_n_cols = Y.shape 
    
    if cat_features is None:
        if not isinstance(X, np.ndarray): 
            is_number = np.vectorize(lambda x: not np.issubdtype(x, np.number))
            cat_features = is_number(X.dtypes)    
        else:
            cat_features = np.zeros(x_n_cols, dtype=bool)
            for col in range(x_n_cols):
                if not np.issubdtype(type(X[0, col]), np.number):
                    cat_features[col]=True
    else:          
        cat_features = np.array(cat_features)
    
    # print(cat_features)
    
    if not isinstance(X, np.ndarray): X = np.asarray(X)
    if not isinstance(Y, np.ndarray): Y = np.asarray(Y)
    
    Z = np.concatenate((X,Y))
    
    x_index = range(0,x_n_rows)
    y_index = range(x_n_rows,x_n_rows+y_n_rows)
    
    Z_num = Z[:,np.logical_not(cat_features)]
    
    num_cols = Z_num.shape[1]
    num_ranges = np.zeros(num_cols)
    num_max = np.zeros(num_cols)
    
    for col in range(num_cols):
        col_array = Z_num[:, col].astype(np.float32) 
        max = np.nanmax(col_array)
        min = np.nanmin(col_array)
     
        if np.isnan(max):
            max = 0.0
        if np.isnan(min):
            min = 0.0
        num_max[col] = max
        num_ranges[col] = (1 - min / max) if (max != 0) else 0.0

    # This is to normalize the numeric values between 0 and 1.
    Z_num = np.divide(Z_num ,num_max,out=np.zeros_like(Z_num), where=num_max!=0)
    Z_cat = Z[:,cat_features]
    
    if weight is None:
        weight = np.ones(Z.shape[1])
        
    #print(weight)    
    
    weight_cat=weight[cat_features]
    weight_num=weight[np.logical_not(cat_features)]   
        
    out = np.zeros((x_n_rows, y_n_rows), dtype=np.float32)
        
    weight_sum = weight.sum()
    
    X_cat = Z_cat[x_index,]
    X_num = Z_num[x_index,]
    Y_cat = Z_cat[y_index,]
    Y_num = Z_num[y_index,]
    
   # print(X_cat,X_num,Y_cat,Y_num)
    
    for i in range(x_n_rows):          
        j_start= i        
        if x_n_rows != y_n_rows:
            j_start = 0
        # call the main function
        res = gower_get(X_cat[i,:], 
                          X_num[i,:],
                          Y_cat[j_start:y_n_rows,:],
                          Y_num[j_start:y_n_rows,:],
                          weight_cat,
                          weight_num,
                          weight_sum,
                          cat_features,
                          num_ranges,
                          num_max) 
        #print(res)
        out[i,j_start:]=res
        if x_n_rows == y_n_rows: out[i:,j_start]=res
        
    return out


def gower_get(xi_cat,xi_num,xj_cat,xj_num,feature_weight_cat,
              feature_weight_num,feature_weight_sum,categorical_features,
              ranges_of_numeric,max_of_numeric ):
    
    # categorical columns
    sij_cat = np.where(xi_cat == xj_cat,np.zeros_like(xi_cat),np.ones_like(xi_cat))
    sum_cat = np.multiply(feature_weight_cat,sij_cat).sum(axis=1) 

    # numerical columns
    abs_delta=np.absolute(xi_num-xj_num)
    sij_num=np.divide(abs_delta, ranges_of_numeric, out=np.zeros_like(abs_delta), where=ranges_of_numeric!=0)

    sum_num = np.multiply(feature_weight_num,sij_num).sum(axis=1)
    sums= np.add(sum_cat,sum_num)
    sum_sij = np.divide(sums,feature_weight_sum)
    
    return sum_sij

def smallest_indices(ary, n):
    """Returns the n largest indices from a numpy array."""
    n += 1
    flat = np.nan_to_num(ary.flatten(), nan=999)
    indices = np.argpartition(-flat, -n)[-n:]
    indices = indices[np.argsort(flat[indices])]
    indices = np.delete(indices,0,0)
    values = flat[indices]
    return {'index': indices, 'values': values}

def gower_topn(data_x, data_y=None, weight=None, cat_features=None, n = 5):
    
    if data_x.shape[0] >= 2: TypeError("Only support `data_x` of 1 row. ")  
    dm = gower_matrix(data_x, data_y, weight, cat_features)
          
    return smallest_indices(np.nan_to_num(aaa[0], nan=1),n)

In [143]:
pd.DataFrame(gower_matrix(X))

,0,1,2,3,4,5,6,7,8
0,0.000000,0.359024,0.670740,0.317874,0.168728,0.526230,0.596979,0.477788,NaN
1,0.359024,0.000000,0.696430,0.313877,0.523629,0.167206,0.456002,0.653964,NaN
2,0.670740,0.696430,0.000000,0.655281,0.672801,0.696970,0.740428,0.815194,NaN
3,0.317874,0.313877,0.655281,0.000000,0.482479,0.481083,0.748186,0.343323,NaN
4,0.168728,0.523629,0.672801,0.482479,0.000000,0.357502,0.432373,0.312104,NaN
5,0.526230,0.167206,0.696970,0.481083,0.357502,0.000000,0.289875,0.487836,NaN
6,0.596979,0.456002,0.740428,0.748186,0.432373,0.289875,0.000000,0.574766,NaN
7,0.477788,0.653964,0.815194,0.343323,0.312104,0.487836,0.574766,0.000000,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
import numpy as np
import pandas as pd
import gower

Xd=pd.DataFrame({'age':[21,21,19, 30,21,21,19,30,None],
'gender':['M','M','N','M','F','F','F','F',None],
'civil_status':['MARRIED','SINGLE','SINGLE','SINGLE','MARRIED','SINGLE','WIDOW','DIVORCED',None],
'salary':[3000.0,1200.0 ,32000.0,1800.0 ,2900.0 ,1100.0 ,10000.0,1500.0,None],
'has_children':[1,0,1,1,1,0,0,1,None],
'available_credit':[2200,100,22000,1100,2000,100,6000,2200,None]})
Yd = Xd.iloc[1:3,:]
X = np.asarray(Xd)
Y = np.asarray(Yd)

In [2]:
gower.gower_topn(Xd.iloc[0:2,:], Xd.iloc[:,], n = 5)

{'index': array([4, 3, 1, 7, 5]),
 'values': array([0.16872811, 0.31787416, 0.3590238 , 0.47778758, 0.52622986],
       dtype=float32)}

In [137]:
Xd.iloc[0:2,:].shape

(2, 6)

In [5]:
gower.gower_matrix(X)

array([[0.        , 0.3590238 , 0.6707398 , 0.31787416, 0.16872811,
        0.52622986, 0.59697855, 0.47778758,        nan],
       [0.3590238 , 0.        , 0.6964303 , 0.3138769 , 0.523629  ,
        0.16720603, 0.45600235, 0.6539635 ,        nan],
       [0.6707398 , 0.6964303 , 0.        , 0.6552807 , 0.6728013 ,
        0.6969697 , 0.740428  , 0.8151941 ,        nan],
       [0.31787416, 0.3138769 , 0.6552807 , 0.        , 0.4824794 ,
        0.48108295, 0.74818605, 0.34332284,        nan],
       [0.16872811, 0.523629  , 0.6728013 , 0.4824794 , 0.        ,
        0.35750175, 0.43237334, 0.3121036 ,        nan],
       [0.52622986, 0.16720603, 0.6969697 , 0.48108295, 0.35750175,
        0.        , 0.2898751 , 0.4878362 ,        nan],
       [0.59697855, 0.45600235, 0.740428  , 0.74818605, 0.43237334,
        0.2898751 , 0.        , 0.57476616,        nan],
       [0.47778758, 0.6539635 , 0.8151941 , 0.34332284, 0.3121036 ,
        0.4878362 , 0.57476616, 0.        ,        nan],
       [       nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan]], dtype=float32)

In [134]:
aaa

array([[0.        , 0.3590238 , 0.6707398 , 0.31787416, 0.16872811,
        0.52622986, 0.59697855, 0.47778758,        nan],
       [0.3590238 , 0.        , 0.6964303 , 0.3138769 , 0.523629  ,
        0.16720603, 0.45600235, 0.6539635 ,        nan]], dtype=float32)

In [138]:
def smallest_indices(ary, n):
    """Returns the n largest indices from a numpy array."""
    n += 1
    flat = np.nan_to_num(ary.flatten(), nan=999)
    indices = np.argpartition(-flat, -n)[-n:]
    indices = indices[np.argsort(flat[indices])]
    indices = np.delete(indices,0,0)
    values = flat[indices]
    return {'index': indices, 'values': values}

In [139]:
out = smallest_indices(np.nan_to_num(aaa[1], nan=1),3)

In [140]:
out

{'index': array([5, 3, 0]),
 'values': array([0.16720603, 0.3138769 , 0.3590238 ], dtype=float32)}

In [125]:
X[out['index'],:]

array([[21.0, 'M', 'SINGLE', 1200.0, 0.0, 100.0],
       [21.0, 'F', 'SINGLE', 1100.0, 0.0, 100.0],
       [30.0, 'M', 'SINGLE', 1800.0, 1.0, 1100.0]], dtype=object)

In [126]:
X

array([[21.0, 'M', 'MARRIED', 3000.0, 1.0, 2200.0],
       [21.0, 'M', 'SINGLE', 1200.0, 0.0, 100.0],
       [19.0, 'N', 'SINGLE', 32000.0, 1.0, 22000.0],
       [30.0, 'M', 'SINGLE', 1800.0, 1.0, 1100.0],
       [21.0, 'F', 'MARRIED', 2900.0, 1.0, 2000.0],
       [21.0, 'F', 'SINGLE', 1100.0, 0.0, 100.0],
       [19.0, 'F', 'WIDOW', 10000.0, 0.0, 6000.0],
       [30.0, 'F', 'DIVORCED', 1500.0, 1.0, 2200.0],
       [nan, None, None, nan, nan, nan]], dtype=object)

In [128]:
numpy.delete

array([0.        , 0.3590238 , 0.6707398 , 0.31787416, 0.16872811,
       0.52622986, 0.59697855, 0.47778758,        nan], dtype=float32)